#btnResetPassword {
    -fx-background-color: #333333;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-text-fill: #F7F7F7;
    -fx-font-size: 27;
}

TextField, PasswordField {
    -fx-text-fill: #333333;
    -fx-prompt-text-fill: #333333;
    -fx-background-color: #F7F7F7;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 4;
    -fx-border-color: #333333;
    -fx-font-size: 23;
    -fx-font-weight: 500;
}

TextField:focused, PasswordField:focused{
    -fx-border-color: #3358FF;
}

#txtEmail {
    -fx-background-image: url("../img/login-page/email.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
}

#txtEmail:focused {
    -fx-background-image: url("../img/login-page/email-focused.png");
}

#txtPassword {
    -fx-background-image: url("../img/login-page/password.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
}

#txtPassword:focused {
    -fx-background-image: url("../img/login-page/password-focused.png");
}

#lblTitle1, #lblTitle2 {
    -fx-text-fill: #0F0F0F;
}

#lblResendOtp {
    -fx-text-fill: #3358FF;
}

#lblResendOtp:hover {
    -fx-text-fill: #333333;
    -fx-cursor: hand;
}

#lblEmailError, #lblPasswordError, #lblOtpError {
    visibility: hidden;
    -fx-text-fill: #EA0026;
}

#txtOtp {
    -fx-border-color: #333333;
    -fx-border-width: 3;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-text-fill: #333333;
    -fx-prompt-text-fill: #333333;
    -fx-background-color: #F7F7F7;
    -fx-font-weight: 500;
    -fx-font-size: 23;
}

#txtOtp:focused {
    -fx-border-color: #3358FF;
}

#btnBack {
    -fx-background-image: url("../img/password-reset-page/back-b.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#btnBack:hover {
    -fx-cursor: hand;
    -fx-background-image: url("../img/password-reset-page/back.png");
}

